<form hx-post="{{ url }}">
  {{> field/textarea class="relative" label="Your comment" name="your-comment" id="your-comment" placeholder="Write your thinking" height=32 }}
  {{> button/primary label="Submit" }}
</form>