<form class="flex flex-wrap">
    <div class="w-1/2 p-2">
        {{> field/text label="Name" id="name" value="name" class="relative" placeholder="Your name" color="primary" }}
    </div>
    <div class="w-1/2 p-2">
        {{> field/email label="Email" id="contact-email" name="contact-email" class="relative" placeholder="Your email" color="primary" }}
    </div>
    <div class="w-full p-2">
        {{> field/textarea class="relative" height=32 id="message" name="message" transition=true placeholder="Tell us everything..." label="Message" no-resize=true}}
    </div>
    <div class="flex justify-center w-full p-2">
        {{> button/secondary label="Send" block=true outlined=true}}
    </div>
</form>