<form hx-post="/api/subscription"
    hx-trigger="submit"
    class="flex flex-wrap items-end justify-center md:flex-nowrap md:justify-start">
    {{> field/email class="relative w-auto mr-2 sm:w-64 sm:mr-4" name="subscription" placeholder="Type your email here" required=true }}
    {{> button/primary outlined=true label="Subscribe" }}
</form>