<form class="flex flex-wrap items-end justify-center md:flex-nowrap md:justify-start">
    {{> field/text label="Label" id="subscription" name="subscription" placeholder="Type your email here" }}
    {{> button/primary type="submit" label="Subscribe" outlined=true }}
</form>