<div class="relative w-40 mr-2 sm:w-64 sm:mr-4" x-data="{ value: '' }">
    {{#if label}}
        <label for="{{ id }}" class="text-sm leading-7 text-gray-600">{{ label }}</label>
    {{/if}}
    {{> input/text id=id name=name placeholder=placeholder required=required }}
</div>