<nav class="flex-wrap items-center justify-center hidden text-base md:flex md:ml-auto md:mr-auto">
    <a hx-get="/about" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">About</a>
    <a hx-get="/contact" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Contact Us</a>
    <a hx-get="/blog" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Blog</a>
    <a hx-get="/teams" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Our teams</a>
</nav>

<ul class="px-3 py-4 space-y-2 overflow-y-auto text-lg rounded bg-gray-50 md:hidden">
    <li>
        <a @click="openSidebar = null" hx-get="/about" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">About</a>
    </li>
    <li>
        <a @click="openSidebar = null" hx-get="/contact" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Contact Us</a>
    </li>
    <li>
        <a @click="openSidebar = null" hx-get="/blog" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Blog</a>
    </li>
    <li>
        <a @click="openSidebar = null" hx-get="/teams" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="mr-5 hover:text-gray-900">Our teams</a>
    </li>
</ul>
