<header class="text-gray-600 border-b body-font">
  <div class="container flex flex-row-reverse items-center justify-between p-5 mx-auto md:flex-row">
    <a hx-get="/" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" class="flex items-center font-medium text-gray-900 title-font md:mb-0">
      <%- include('elements/icons/brand-logo-icon') %>
      <span class="hidden ml-3 text-xl md:inline">Tailblocks</span>
    </a>
    
    <button @click="openSidebar = 'menu'" type="button" class="inline-flex items-center text-sm text-gray-700 rounded-lg md:hidden hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
      <span class="sr-only">Open main menu</span>
      <%- include('elements/icons/menu-mobile-icon') %>
    </button>
    <button class="items-center hidden px-3 py-1 mt-4 text-base bg-gray-100 border-0 rounded md:inline-flex focus:outline-none hover:bg-gray-200 md:mt-0">Button
      <%- include('elements/icons/arrow-right-icon') %>
    </button>
  </div>
</header>