<button type="button" @click="openSidebar = null" class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
    <%- include('../icons/close-icon') %>
    <span class="sr-only">Close menu</span>
</button>