<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
        crossorigin="anonymous"></script>
</head>

<body x-data="{ currentRoute : window.location.pathname }" x-init="$watch('currentRoute', (value) => {
        navigation.addEventListener('navigate', ({ destination }) => {
            console.log(destination);
        });
    })">
    {{> element/header }}
    <div class="flex flex-col overflow-y-auto grow">
        <main id="content" class="h-full">
            {{{ body }}}
        </main>
        {{> element/footer }}
    </div>
</body>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('route', () => ({
            currentRoute : window.location.pathname
        }));
        Alpine.directive('route', (el, {}, { cleanup }) => {
            navigation.addEventListener('navigate', ({ destination }) => {
                this.currentRoute = new URL(destination.url).pathname;
            });
                console.log("in directive : ", this.currentRoute);
            navigation.removeEventListener('navigate', navigateEvent => {});
        });
        Alpine.data('drawer', () => ({
            open: false,
            trigger: {
                ['x-ref']: 'trigger',
                ['@click']() {
                    this.open = true
                },
            },

            dialogue: {
                ['x-show']() {
                    return this.open
                },
                ['@click.outside']() {
                    this.open = false
                },
                ['@keyup.escape.window']() {
                    this.open = false
                },
            },
            closer: {
                ['@click']() {
                    this.open = false
                },
                ['@navigate']() {
                    console.log('test')
                }
            },
        }));
            
        Alpine.bind('goto', (url) => {
            return {
                type: 'button',
                '@click'() {
                    this.activeRoute = url;
                },
                ':class'() {
                    return this.activeRoute.includes(url) && 'border-b-2 border-gray-800'
                },
            }
        })
    });

    document.addEventListener('alpine:initialized', () => {
        Alpine.magic('currentRoute', (el, { interceptor }) => {
            return window.location.pathname;
        });
        Alpine.directive('route', (el, {}, { cleanup }) => {
            navigation.addEventListener('navigate', ({ destination }) => {
                this.$currentRoute = new URL(destination.url).pathname;
                console.log("in directive : ", this.$currentRoute);
            });
            navigation.removeEventListener('navigate', navigateEvent => {});
        });
    })
</script>
</html>