<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>{{ title }}</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body hx-ext="loading-states"
    x-data="{ currentRoute : window.location.pathname, error: null }"
    x-effect="
        {{!-- console.log(navigator.languages); --}}
        {{!-- window.addEventListener('offline', (e) => { console.log('offline'); }); --}}
        {{!-- window.addEventListener('online', (e) => { console.log('online'); }); --}}
        $el.addEventListener('htmx:responseError', ({ detail }) => {
            if (detail.xhr.status === 500) {
                $dispatch('error', 'error-500');
            } else {
                $dispatch('error', JSON.parse(detail.xhr.response));
            }
        });
        navigation.addEventListener('navigate', ({ destination }) => {
            $dispatch('route', new URL(destination.url).pathname);
        });"
    @route="currentRoute = $event.detail"
    @error="console.log('in dispatch : ', $event.detail); error = $event.detail"
>
    {{> element/header }}
    <div class="relative flex flex-col overflow-y-auto grow">
        <main class="relative grow">
            {{> loading/base-2 size=18 }}
            <section id="content" class="relative h-full">
                {{{ body }}}
            </section>
        </main>
        {{> element/footer }}
    </div>
    <div x-data="drawer" x-effect="open = error === 'error-500'">
        {{> element/modal
            modal=(object
            title=(partial 'title/default'
                    text="An error iccured"
                    class="text-lg text-danger-500 border rounded-lg text-center py-4")
            component=(partial 'error/500'))
            class="p-8"
        }}
    </div>
</body>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('drawer', (initialOpenState = false) => ({
            open: initialOpenState,
            init() {
                {{!-- this.$watch('open', console.log) --}}
            },
            toggle() {
                this.open = !this.open;
            },
            trigger: {
                ['x-ref']: 'trigger',
                ['@click']() {
                    this.open = true
                },
            },

            dialogue: {
                ['x-show']() {
                    return this.open
                },
                ['@click.outside']() {
                    this.open = false
                },
                ['@keyup.escape.window']() {
                    this.open = false
                },
            },
            closer: {
                type: 'button',
                ['@click']() {
                    this.open = false
                },
            },
        }));
    });
</script>
</html>