<a hx-boost="true" href="{{ href }}" hx-push-url="true" hx-swap="innerHTML" hx-target="#content" class="inline-flex items-center box-border cursor-pointer hover:border-b-2 {{withDefault color 'hover:border-b-neutral-500 text-neutral-500'}}">
    <span {{#if icon}}class="mr-2"{{/if}}>{{label}}</span>
    {{#if icon}}
        <span>{{ icon }}</span>
    {{/if}}
</a>