{{#> pagination/default href=href page=page pages=pages}}
<section class="w-2/3 sm:w-auto text-center text-lg mx-auto sm:mx-8">
  {{!-- Pagination with input --}}
  <input type="text" inputmode="numeric" />
  <span>/ {{ pages }}</span>
</section>
{{/pagination/default}}