@import "./base";
@import "./components";
@import "./utilities";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: hidden;
    position: relative;
}