<div x-data="drawer">
    {{> button/primary label="Login" bind="trigger" icon=(partial 'icon/arrow-right' color='text-primary-200') }}
    {{> element/modal component=(partial 'form/login') class="p-8"}}
</div>