<div x-data="drawer" x-effect="open = errorMap.has('not-found') ;">
  {{> element/modal
            modal=(object
                title=(partial 'title/default'
                        text="An error occured"
                        class="text-lg text-danger-500 border rounded-lg text-center py-4")
                component=(partial 'error/not-found'))
            class="p-8"
        }}
</div>