<header x-effect="console.log(window.location.pathname)" class="text-gray-600 border-b body-font" x-data="{ activeRoute: window.location.pathname }">
  <div class="container flex flex-row-reverse items-center justify-between p-5 mx-auto md:flex-row">
    {{> element/brand }}
      {{> nav/menu-list }}
    {{!-- {{> button/menu-mobile }} --}}
    {{> sidebar/menu }}
    <div class="items-center hidden gap-4 md:flex">
      {{> dropdown/user }}
      <template x-if="!activeRoute.includes('/login')">
        {{> modal/login }}
      </template>
    </div>
  </div>
</header>