<div {{#if id}}id="{{id}}"{{/if}} x-bind="wrapper"
  class="absolute overflow-hidden p-1 max-w-sm top-0 left-0 flex flex-col gap-y-4 w-auto"
>
  <template x-for="notification in notifications">
    <div x-transition:enter="transition ease-in-out duration-1000 sm:duration-700" x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-1" x-transition:leave="transition ease-in-out duration-1000 sm:duration-700"
        x-transition:leave-start="opacity-1" x-transition:leave-end="opacity-0"
        class="relative z-40 p-2 rounded bg-white border-2 box-border"
        :class="`border ${borderFromNotificationType(notification.type)} border-l-[12px]`">
      <section class="flex items-start justify-between">
        <h4>
          <b x-text="notification.title"></b>
        </h4>
        {{> button/simple x-on:click="remove(notification.id)" icon=(partial "icon/close" size=6 stroke="none") sr-only="Close notification" class="p-1 rounded-full focus:bg-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600
dark:hover:text-white inline-flex items-center justify-end text-sm" }}
      </section>
      <p x-text="notification.message"></p>
    </div>
  </template>
</div>

<script>
  function borderFromNotificationType(notificationType) {
    switch (notificationType) {
      case "success":
        return `border-success-500 bg-success-50`;
      case "danger":
        return `border-danger-500 bg-danger-50`;
      case "info":
        return `border-info-500 bg-info-50`;
      case "warning":
        return `border-warning-500 bg-warning-50`;
      default:
        return "";
    }
  }
</script>