{{!< main }}
<section class="text-neutral-600 body-font">
  <div class="container py-24 mx-auto">
    <div class="grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
      {{#each blogs as |item|}}
      <div class="min-w-full">
        {{> element/blog-item color="primary" item=item}}
      </div>
      {{/each}}
    </div>
  </div>
</section>