{{!< main }}
<section class="relative text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full mb-12 text-center">
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Contact Us</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
    </div>
    <div class="mx-auto lg:w-1/2 md:w-2/3">
      {{> form/contact }}
    </div>
    <div class="w-full p-2 pt-8 mt-8 text-center border-t border-gray-200">
      <a class="text-indigo-500">example@email.com</a>
      <p class="my-5 leading-normal">
        <span>49 Smith St.</span>
        <br>
        <span>Saint Cloud, MN 56301</span>
      </p>
      <span class="inline-flex gap-3">
        <a class="text-gray-500">
          {{> icon/facebook }}
        </a>
        <a class="text-gray-500">
          {{> icon/twitter }}
        </a>
        <a class="text-gray-500">
          {{> icon/instagram }}
        </a>
        <a class="text-gray-500">
          {{> icon/linkedin }}
        </a>
      </span>
    </div>
  </div>
</section>