{{!< main }}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col w-full mb-20 text-center">
      <h2 class="mb-1 text-xs font-medium tracking-widest text-indigo-500 title-font">ROOF PARTY POLAROID</h2>
      <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Master Cleanse Reliac Heirloom</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-2/3">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap divide-x-2">
      {{> block/base-2 title="Shooting Stars" link=(object url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" link=(object url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" link=(object url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
    </div>
  </div>
</section>