<li>
  <a
    x-bind="closerMenu('{{ route.url }}')"
    hx-get="{{ route.url }}"
    hx-push-url="true"
    hx-target="#content"
    hx-swap="innerHTML"
    class="mr-5 cursor-pointer hover:text-gray-900"
  >
    <span>{{ route.label }}</span>
  </a>
</li>
