<nav hx-boost="true">
    <a href="/user/me"
    hx-target="#content" x-bind="closer"
    :class="currentRoute.includes('/user/me') && 'bg-gray-800 text-white'"
    class="block px-4 py-2 text-sm text-gray-700">
        Your Profile
    </a>
    <a href="#" x-bind="closer" class="block px-4 py-2 text-sm text-gray-700">Settings</a>
    <a href="#" x-bind="closer" class="block px-4 py-2 text-sm text-gray-700">Sign out</a>
</nav>