<div class="items-center hidden gap-4 md:flex" hx-get="/api/auth/check?component=header" hx-swap="outerHTML" hx-trigger="check-auth from:body">
  {{#if isAuthenticated}}
    {{> dropdown/user }}
  {{else}}
    <template x-if="!currentRoute.includes('/login')">
      {{> modal/login trigger=(partial 'button/primary-3' label="Login" x-bind="trigger" icon=(partial 'icon/arrow-right' fill="none") ) }}
    </template>
  {{/if}}
</div>